[submodule "opensbi"]
	path = opensbi
	url = https://github.com/riscv-software-src/opensbi.git
[submodule "xvisor"]
	path = xvisor
	url = https://github.com/xvisor/xvisor.git
[submodule "linux"]
	path = linux
	url = git@github.com:torvalds/linux.git
[submodule "busybox"]
	path = busybox
	url = git://busybox.net/busybox.git
