CONFIG_ARCH_RISCV=y
# CONFIG_SMP is not set
CONFIG_CPU_COUNT=8
CONFIG_RISCV_CPU_GENERIC=y
CONFIG_RISCV_64BIT=y
CONFIG_RISCV_ISA_V=y
CONFIG_CMODEL_MEDANY=y
CONFIG_ARCH_GENERIC_DEFTERM_EARLY=y
CONFIG_ARCH_GENERIC_DEFTERM_EARLY_SBI=y
# CONFIG_MODULES is not set
CONFIG_VERBOSE_MODE=y
CONFIG_LOG_ANSI_COLORS=y
CONFIG_SCHEDALGO_PRR=y
CONFIG_TSLICE_10MS=y
CONFIG_BLOCK=y
CONFIG_VIRTIO=y
CONFIG_VMSG=y
CONFIG_VSERIAL=y
CONFIG_VSPI=y
CONFIG_VDISK=y
CONFIG_VDISPLAY=y
CONFIG_VINPUT=y
# CONFIG_VINPUT_KEYMAP_AR is not set
# CONFIG_VINPUT_KEYMAP_BEPO is not set
# CONFIG_VINPUT_KEYMAP_CZ is not set
# CONFIG_VINPUT_KEYMAP_DA is not set
# CONFIG_VINPUT_KEYMAP_DE_CH is not set
# CONFIG_VINPUT_KEYMAP_DE is not set
# CONFIG_VINPUT_KEYMAP_EN_US is not set
# CONFIG_VINPUT_KEYMAP_ES is not set
# CONFIG_VINPUT_KEYMAP_ET is not set
# CONFIG_VINPUT_KEYMAP_FI is not set
# CONFIG_VINPUT_KEYMAP_FO is not set
# CONFIG_VINPUT_KEYMAP_FR_BE is not set
# CONFIG_VINPUT_KEYMAP_FR_CA is not set
# CONFIG_VINPUT_KEYMAP_FR_CH is not set
# CONFIG_VINPUT_KEYMAP_FR is not set
# CONFIG_VINPUT_KEYMAP_HR is not set
# CONFIG_VINPUT_KEYMAP_HU is not set
# CONFIG_VINPUT_KEYMAP_IS is not set
# CONFIG_VINPUT_KEYMAP_IT is not set
# CONFIG_VINPUT_KEYMAP_JA is not set
# CONFIG_VINPUT_KEYMAP_LT is not set
# CONFIG_VINPUT_KEYMAP_LV is not set
# CONFIG_VINPUT_KEYMAP_MK is not set
# CONFIG_VINPUT_KEYMAP_NL is not set
# CONFIG_VINPUT_KEYMAP_NO is not set
# CONFIG_VINPUT_KEYMAP_PL is not set
# CONFIG_VINPUT_KEYMAP_PT_BR is not set
# CONFIG_VINPUT_KEYMAP_PT is not set
# CONFIG_VINPUT_KEYMAP_RU is not set
# CONFIG_VINPUT_KEYMAP_SL is not set
# CONFIG_VINPUT_KEYMAP_SV is not set
# CONFIG_VINPUT_KEYMAP_TH is not set
# CONFIG_VINPUT_KEYMAP_TR is not set
CONFIG_VSDAEMON=y
CONFIG_VSDAEMON_CHARDEV=y
CONFIG_VSDAEMON_MTERM=y
CONFIG_VFS=y
CONFIG_VFS_CPIO=y
CONFIG_VFS_EXT4=y
CONFIG_VFS_FAT=y
# CONFIG_SCSI is not set
# CONFIG_SCSI_DISK is not set
# CONFIG_WBOXTEST=y
CONFIG_RISCV_INTC=y
CONFIG_RISCV_ACLINT_SWI=y
# CONFIG_SIFIVE_PLIC= is not set
# CONFIG_RISCV_APLIC= is not set
# CONFIG_RISCV_IMSIC= is not set
CONFIG_RISCV_TIMER=y
CONFIG_SERIAL=y
CONFIG_SERIAL_8250_UART=y
CONFIG_RTC=y
CONFIG_RTC_GOLDFISH=y
CONFIG_BLOCK_RBD=y
CONFIG_BLOCK_INITRD=y
CONFIG_BLOCK_VIRTIO_HOST=y
CONFIG_VIRTIO_HOST=y
CONFIG_VIRTIO_HOST_MMIO=y
CONFIG_EMU_VIRTIO_MMIO=y
CONFIG_EMU_SYS=y
CONFIG_EMU_SYS_VMINFO=y
CONFIG_EMU_PIC=y
CONFIG_EMU_PIC_PLIC=y
CONFIG_EMU_MISC_ZERO=y
CONFIG_EMU_PT_PLATFORM=y
CONFIG_EMU_NET=y
CONFIG_EMU_BLOCK=y
CONFIG_EMU_BLOCK_VIRTIO=y
CONFIG_EMU_DISPLAY=y
CONFIG_EMU_DISPLAY_SIMPLEFB=y
CONFIG_EMU_INPUT=y
CONFIG_EMU_INPUT_VIRTIO=y
CONFIG_EMU_SERIAL=y
CONFIG_EMU_SERIAL_NS16550=y
CONFIG_EMU_CONSOLE=y
CONFIG_EMU_CONSOLE_VIRTIO=y
CONFIG_EMU_RPMSG=y
CONFIG_EMU_RPMSG_VIRTIO=y
CONFIG_EMU_RTC=y
CONFIG_EMU_RTC_GOLDFISH=y
